<!DOCTYPE html>
<html>
    <head>
        <title>Sudan white page</title>
        <script src="/scripts/angular.min.js"></script>
        <script src="/scripts/angular-route.js"></script>
        <script src="/scripts/jquery-3.3.1.min.js"></script>
        <script src="/scripts/generate.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/scripts/jquery.mask.min.js"></script>
        <link  rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>   
        <link  rel="stylesheet" href="/bootstrap/css/theme.css"/>   
        <style type="text/css">
            .loadcss{
                background: #f9f922;
                color: #969618;
                padding: 10px;
                display: inline-block;
                box-shadow: 0 0 3px;
                border-radius: 2px;
                position: fixed;
                top: 0;
                left: 40%;
                right: 40%;
            }
        </style>
    </head>
<body ng-app="main" ng-controller="control_list_contacts">    
    <div class="loadcss" ng-show="load">loading ...</div>
     <div class="progress" ng-show="load">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
        40%
      </div>
    </div> 
    <nav class="navbar navbar-default">
        <div class="container">            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/!" style="padding:0;"><img src="/images/logo.png"></a>
            </div>            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#!about">About us</a></li>                   
                    <li><a href="#insert" ng-click="showInsert('true')">Insert</a></li> 
                    <li ng-show="auth"><a href="#!signout" ng-click="signout()">Sign out</a></li>                                  
                    <li ng-hide="auth" class="dropdown">
                        <a href="#!signin" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign in <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="min-width:300px;">
                            
                            <div class="panel-body">
                                <div class="form-group">
                                    <h2>MEMBERS 
                                        <br/>
                                        <small class="h5 text-muted">Sudan white page ,You cannot reqistry now</small>
                                    </h2>
                                </div>
                                <hr>
                                <div ng-bind-html="errorSignin"></div>
                                <div class="form-group">
                                    <label for="" class="control-label">Username</label>
                                    <input class="form-control" type="text" ng-model="username" id="username" required="required"/>
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label">Password</label>
                                    <input class="form-control" type="password" ng-model="password" id="password" required="required"/>
                                    <span class="help-block"></span>
                                </div> 


                                <hr/>
                                <div class="form-group">
                                    <input class="btn btn-primary" type="submit" value="LOGIN" ng-click="signin()"/>                               
                                </div>
                            </div>
     

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row" ng-show="auth">
            <div class="col-lg-12">            
                <h1 class="text-danger">Hello , {{username}}</h1>
                <p>Find contact info and background reports Trusted by over 30 million people every month</p>
            </div>
        </div>
        <div class="row" ng-hide="auth">
            <div class="col-lg-12">            
                <h1 class="text-success">Hello</h1>
                <p>Find contact info and background reports Trusted by over 30 million people every month</p>
            </div>
        </div>   

        <div class="row">
            <div class="col-lg-8">
                <div id="list_contacts"  class="table-responsive">
                    <div ng-bind-html="error"></div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">Phone Number Book</h3></div>
                        
                        <table width="100%"  class="table table-bordered table-hover">
                            <tr>
                                <th ng-click="order($index)">#</th>
                                <th class="activetd" ng-click="order('name')">Name</th>
                                <th>Number</th>
                                <th ng-click="order('job')">Job</th>
                                <th ng-click="order('number')">Address</th>
                                <th>Operation</th>
                            </tr>
                            
                            <tr ng-repeat="x in records | orderBy :orderby  ">
                                <td><b>{{$index}}</b></td>
                                <td class="activetd"><b>{{x.name}}</b></td>
                                <td>{{x.number}}</td>
                                <td>{{x.job}}</td>
                                <td>{{x.address }}</td>
                                <td>
                                        <button class="btn btn-default btn-sm" ng-click="delete(x._id,$index)">Delete</button>
                                        <a  ng-click="showEdit(x._id,x.name,x.number,x.job,x.address)" class="btn btn-primary btn-sm" href="#!edit/{{x._id}}/{{x.name}}/{{x.number}}/{{x.job}}/{{x.address}}">Edit</a>
                                </td>
                            </tr>
                        
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div id="view" class="view"   ng-bind-html="dir"></div>
            </div>
        </div>

        <div>
            <hr>
            <span>All right reseved to </span>
            <span class="text-info">Aladdin SUST</span>
            <span>2018 </span>
        </div>
    </div>    
</div>


<script type="text/javascript" src="/scripts/controller.js"></script>
</body>
</html>
